<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trabalho - @ViewData["Title"]</title>
    <!-- VENDOR CSS -->
    <link rel="stylesheet" href="~/template/klorofil/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/template/klorofil/assets/vendor/font-awesome/css/font-awesome.css"/>
    <link rel="stylesheet" href="~/template/klorofil/assets/vendor/linearicons/style.css">
    <link rel="stylesheet" href="~/template/klorofil/assets/vendor/chartist/css/chartist-custom.css">
    <!-- MAIN CSS -->
    <link rel="stylesheet" href="~/template/klorofil/assets/css/main.css">
    <!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
    <link rel="stylesheet" href="~/template/klorofil/assets/css/demo.css">
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <!-- ICONS -->
    <link rel="apple-touch-icon" sizes="76x76" href="~/template/klorofil/assets/img/apple-icon.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/template/klorofil/assets/img/favicon.png">
    @RenderSection("estilos", false);
</head>
<body>
    <div id="wrapper">
        <!-- NAVBAR -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="brand">
                <a href="~/home/index"><img src="~/template/klorofil/assets/img/logo-dark.png" alt="Klorofil Logo" class="img-responsive logo"></a>
            </div>
            <div class="container-fluid">
                <div class="navbar-btn">
                    <button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
                </div>
                <form class="navbar-form navbar-left">
                    <div class="input-group">
                        <input type="text" value="" class="form-control" placeholder="Buscar...">
                        <span class="input-group-btn"><button type="button" class="btn btn-primary"><i class="fa fa-search"></i></button></span>
                    </div>
                </form>
                
                <div id="navbar-menu">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle icon-menu" data-toggle="dropdown">
                                <i class="lnr lnr-alarm"></i>
                                <span class="badge bg-danger">5</span>
                            </a>
                            <ul class="dropdown-menu notifications">
                                <li><a href="#" class="notification-item"><span class="dot bg-warning"></span>Espaco do Sistema esta Quase Cheio</a></li>
                                <li><a href="#" class="notification-item"><span class="dot bg-danger"></span>Voce tem 9 Trabalhos nao Finalizados</a></li>
                                <li><a href="#" class="notification-item"><span class="dot bg-success"></span>Relatorio do Mes esta Disponivel</a></li>
                                <li><a href="#" class="notification-item"><span class="dot bg-warning"></span>Reuniao Semanal em 1 Hora</a></li>
                                <li><a href="#" class="notification-item"><span class="dot bg-success"></span>Sua Solicitacao foi aprovada</a></li>
                                <li><a href="#" class="more">Ver todas Notificacoes</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="lnr lnr-question-circle"></i> <span>Ajuda</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Uso Basico</a></li>
                                <li><a href="#">Trabalhando com Dados</a></li>
                                <li><a href="#">Seguranca</a></li>
                                <li><a href="#">Problemas</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span>Leonardo Custodio dos Santos</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="#"><i class="lnr lnr-user"></i> <span>Meu Perfil</span></a></li>
                                <li><a href="#"><i class="lnr lnr-envelope"></i> <span>Menssagens</span></a></li>
                                <li><a href="#"><i class="lnr lnr-cog"></i> <span>Configuracoes</span></a></li>
                                <li><a href="#"><i class="lnr lnr-exit"></i> <span>Deslogar</span></a></li>
                            </ul>
                        </li>
                        <!-- <li>
                            <a class="update-pro" href="https://www.themeineed.com/downloads/klorofil-pro-bootstrap-admin-dashboard-template/?utm_source=klorofil&utm_medium=template&utm_campaign=KlorofilPro" title="Upgrade to Pro" target="_blank"><i class="fa fa-rocket"></i> <span>UPGRADE TO PRO</span></a>
                        </li> -->
                    </ul>
                </div>
            </div>
        </nav>
        <!-- END NAVBAR -->
        <!-- LEFT SIDEBAR -->
        <div id="sidebar-nav" class="sidebar">
            <div class="sidebar-scroll">
                <nav>
                    <ul class="nav">
                        <li><a href="~/Home" class=""><i class="lnr lnr-home"></i> <span>Home Page</span></a></li>
                        <li><a href="~/Login" class=""><i class="lnr lnr-user"></i> <span>Login</span></a></li>
                        <li><a href="~/Produto" class=""><i class="fa fa-cart-plus"></i> <span>Cadastrar Produto</span></a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- END LEFT SIDEBAR -->
        <!-- MAIN -->
        <div class="main">
            <!-- MAIN CONTENT -->
            <div class="main-content">
                <div class="container-fluid">
                    <!-- OVERVIEW -->
                    <div class="panel panel-headline">
                        <div class="panel-heading">
                            <h3 class="panel-title">@ViewData["TituloPrincipal"]</h3>
                        </div>
                        <div class="container-fluid">
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END MAIN -->
        <div class="clearfix"></div>
        <footer>
            <div class="container-fluid">
                <p class="copyright">&copy; 2017 <a href="https://www.themeineed.com" target="_blank">Theme I Need</a>. All Rights Reserved.</p>
            </div>
        </footer>
    </div>
    <!-- END WRAPPER -->
    <!-- Javascript -->
    <script src="~/template/klorofil/assets/vendor/jquery/jquery.min.js"></script>
    <script src="~/template/klorofil/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/template/klorofil/assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/template/klorofil/assets/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
    <script src="~/template/klorofil/assets/vendor/chartist/js/chartist.min.js"></script>
    <script src="~/template/klorofil/assets/scripts/klorofil-common.js"></script>
    @RenderSection("javascript", false);
</body>
</html>
